<div class="user-info">
  
  <div class="user-self-info">
    <div class="info-left">
      <img src = "<%="/user_images/#{@user.user_image}"%>" class= "user_img">
    </div>
    <div class="info-right">
      <div class="info-right-num">
        <h1 class="info-name"><%= @user.name %></h1>
        <h3 class="info-account-name"><%= @user.account_name %></h3>
        <div class="follow">
          <h3 class="a">___フォロー中</h3>
          <h3 class="b">___フォロワー</h3>
        </div>
      </div>  
      <textarea class="profile-text"><%= @user.comment %></textarea>
      <%= link_to '編集', edit_user_path(id: @user.id) %>
    </div>
  </div>  
</div>  