<%= form_for @post, url: post_index_path do |f| %>
  <div class="post-new-form">
    <div class="post-new-form-inner">
      <h1>旅のしおりを作る</h1>
      <div class = "post-main">

        <div class="post-main-left">
          <div class="post-title">
            <%= f.label :"投稿タイトル:" %>
            <%= f.text_field :title, class: 'input-form' %>
          </div>  
          <div class="post-tag">
             <%= f.label :"タグ:" %>
            <%= f.text_field :tag_id, class: 'input-form' %>
          </div>
        </div>

      <div class="post-main-right">
        <div class="post-days">
          <p>宿泊日数：<br>
          <%= f.select :stay, {'1泊': "1泊",  '2泊': "2泊", '3泊': "3泊", '4泊': "4泊", '5泊': "5泊", '6泊': "6泊", '7泊': "7泊"}, { required: true } %>
          <%= f.select :days, {"1日": "1日", "2日": "2日", "3日": "3日", "4日": "4日", "5日": "5日", "6日": "6日", "7日": "7日", "8日": "8日"}, { required: true } %>
          </p>
        </div >
        <div class="post-who">
          <p>誰との旅行：<br>
            <%= f.select :who, {"ひとり": "ひとり", "友達(2人)": "友達(2人)", "友達(3人以上)": "友達(3人以上)", "カップル": "カップル", "夫婦": "夫婦", "家族": "家族"},{reqired: true} %>
        </div>
        
      </div>

    </div>
  
  </div>
  <div class="post-form-btn">
    <input type="submit" value="確認する">
    <%= f.submit "次へ" %>
  </div>

</div>

<% end %>