<div class="second-form">
    <div class="second-form-inner">
      <h1>旅のしおりを作る</h1>
      <div class = "second-post-main">

        <div class="second-post-main-left">
          <div class="second-title">
           <p>旅行タイトル：
           <%= @post.title %>
           </p>
          </div>  
          <div class="second-tag">
            <p>タグ：</p>
            <h3><%= @post.tag_id  %></h3>
          </div>
        </div>
        

        <div class="second-post-main-right">
          <div class="second-days">
            <p>宿泊日数: <%=  @stay_object.content %><%= @days_object.content %></p>
          </div >
          <div class="secons-who">
            <p>誰との旅行：<%= @who_object.content %></p>
          </div>
          <div class="second-total-money">
            <p>この旅行にかけるお金：</p>
            <%= @total_money_object.content %>
          </div>
        </div>

      </div>
      <% if @create_detail %>
      <% end %>
  
    </div>

    <% if @made_post_detail %>
      <% @made_post_detail.each.with_index(1) do |f,i| %>
      <div class="made-detail">
          <div class="made-detail-inner">
          <div class="made-detail-left">
             <div class="detail-image">
               <img src = "<%="#{f.detail_image}"%>" class= "detail_img">
             </div>
          </div>
          <div class="made-detail-right">
            <p class="detail-num"><%= i %></p>
            <div class="made-detail-purpose">
            <p>目的：<%= PurposeObject.find_by(purpose_id: f.purpose).content %></p></div>
            <div class="made-detail-name"><p>訪れた場所：<%= f.name %></p></div>
            <div class="made-detail-url"><p>参考URL：<%= link_to "詳しくはこちら", f.url, target: :_blank %></p></div>
            <div class="made-detail-place"><p>場所：<%= f.place %></p></div>
            <div class="made-detail-hours"><p>営業時間：

            <% if f.hours_open.hour != 0 %>
              <%= f.hours_open.hour %> :
            <% else %>
              00 :
            <% end %>

            <% if f.hours_open.min != 0 %>
              <%= f.hours_open.min %>から
            <% else %>
              00から
            <% end %>
                    
            <% if f.hours_close.hour != 0 %>
              <%= f.hours_close.hour %> :
            <% else %>
              00 :
            <% end %>  
            
            <% if f.hours_close.min != 0 %>
              <%=  f.hours_close.min %>まで
            <% else %>  
              00まで
            <% end %>
            
            </p></div>
            <div><p>コメント：<%= f.comment %></p></div>
          </div>  
        </div>  
        <div class="detail-edit"><%= link_to "修正する", detail_edit_path(id: f.id) , class: "detail-edit-btn" %></div>
      </div>

      <% end %>
      <div class="finish-edit">
      <%= link_to "完成", user_path , class: "finish-edit-btn" %>
      </div>
    <% end %>  

</div>