<div class="logo">
        <%= link_to 'Travel', root_path %>
      </div>  
        <div class="header-menus">
          <ul class="header-menu">
            <% if session[:user_id] %>  
              <li><%= link_to User.find(session[:user_id]).name, user_path(session[:user_id]) %></li>
              <li><%= link_to "ログアウト", logout_path, method: :delete  %></li>
              <li><%= link_to "新規投稿", new_post_path %></li>
            <% else %>  
              <li><%= link_to "ログイン" , session_new_path %></li>
              <li><%= link_to "新規登録" , new_user_path %></li>
              <li><%= link_to "検索" , root_path %></li>
            <% end %>  
          </ul>
          
        </div>